* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 37.5%;
    font-family: Arial, Helvetica, sans-serif;
}

.container-box {
    background-color: white;
}

/* .container-box:nth-child(2) {
    background-color: #1e3932;

}

.container-box:nth-child(5),
.container-box:nth-child(6) {
    background-color: #edebe9;
} */

.container {
    width: 100%;
    /* border: 1px solid red; */
    padding: 0.5rem;
    margin: 0 auto;
}


.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 0;
}

.nav-links {
    position: absolute;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    top: 8.5rem;
    left: 5rem;
    right: 0;
    background-color: white;
    /* padding: 1rem; */
    list-style: none;
}

.nav-links a {
    margin: 5rem;
    text-decoration: none;
    font-size: 2rem;
    color: black;
}

.nav-menu .nav-icons {
    display: none;
}

.menu-toggle {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 4rem;
}

.rewards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3932;
    color: white;
    padding: 2.5rem 0;
}

.rewards h5 {
    font-size: 2rem;
    font-weight: 200;
}

.rewards button {
    background-color: transparent;
    border: 1px solid white;
    padding: 0.5rem 1rem;
    border-radius: 30px;
}

.rewards button a {
    text-decoration: none;
    color: white;

}

/* image slider */
.slider-container {
    position: relative;
    margin-top: 3rem;
    padding: 2.5rem 2rem;
   
    /* background-color: aqua; */

}

.slider {
    /* position: relative; */
    overflow: hidden;
    border-radius: 10px;
    text-transform: capitalize;
    /* background-color: red; */
}


.slides {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 220px;
    flex-wrap: nowrap;
}

.slide {
    min-width: 100%;
    /* max-height:200px; */
    object-fit: cover;
}

.prev,
.next {
    color: green;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border: none;
    cursor: pointer;
    font-size: 2.5rem;
    padding: 6px 12px;
    border-radius: 50%;
    z-index: 999;  box-shadow: 
    -8px 0 10px -5px rgba(0, 0, 0, 0.2), /* Left shadow */
     8px 0 10px -5px rgba(0, 0, 0, 0.2);  /* Right shadow */
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}
.img-1,
.img-2,
.img-3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}
.img-1 {
    background-image: url(images/BG_WEB_2_1_7a5238c9b3.png);
    color: black;

}

.img-2 {
    background-image: url(images/DASHBOARD_BG_WEB_8922d06e43.png);
}

.img-3 {
    background-image: url(images/BG_WEB_08b7ce409f.png);
}



.img-1 ul , .img-2 ul, .img-3 ul {
    margin-right: auto;
    margin-left: 5rem;
    font-size: 1.5rem;
    margin-bottom: 5rem;
    /* font-weight: 100; */
}

.img-1 ul li ,.img-2 ul li, .img-3 ul li {
    margin: 3rem 0;
}

.img-1 ul li:nth-child(2) , .img-2 ul li:nth-child(2), .img-3 ul li:nth-child(2) {
    font-size: 2.5rem;
    font-weight: 900;
}

.img-1 button , .img-2 button, .img-3 button {
    font-size: 1.5rem;
    color: white;
    background-color: #00754A;
    padding: 4px 8px;
    border: none;
    border-radius: 20px;
    margin: auto 2rem 2.5rem 2rem;
    cursor: pointer;
    width: 40%;
}




.menu-container h2 {
    font-size: 3em;
    margin: 3rem 0;
}

.menu-container-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    text-align: center;
}

.menu-container-items .menu-items img {
    width: 12rem;
    border-radius: 50%;
}

.menu-container-items .menu-items p {
    font-size: 2rem;
    margin: 1rem 0 3rem 0;
}

.recommends-container {
    background-color: #edebe9;
}

.recommends-container h1 {
    font-size: 3rem;
    margin: 3rem 0;
    display: inline-block;
}

.view-btn-l,
.dml-btn {
    display: none;
    float: right;
    margin-top: 3.5rem;
    border: none;
    color: #00754A;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;

}

.recommends-item-box {
    display: grid;
    background-color: white;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 3fr 1fr;
    /* align-items: center;
    justify-items: center; */
    padding: 3rem;
    margin: 1rem 0;
    border-radius: 5px;
}

.recommends-item-box img {
    border-radius: 10px;
    margin: 0 1rem;
}

.recommends-item-box h1 {
    margin-right: auto;
    font-size: 2rem;
    margin-bottom: auto;
}

.recommends-item-box h1 img {
    object-fit: cover;
}

.recommends-item-box p {
    font-size: 1.5rem;
    font-weight: 900;
}

.recommends-container .recommends-item-box button {
    font: 2rem;
    color: white;
    background-color: #00754A;
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
}

/* .recommends-container  */
.view-btn,
.dm-btn {
    background-color: black;
    display: block;
    margin: 1.5rem auto;
    color: white;
    cursor: pointer;
    text-align: center;
    padding: 1rem;
    border: none;
    border-radius: 30px;
}


.discover-more-container {
    margin-top: 5rem;
    margin-bottom:20rem;
    background-color: #edebe9;
    padding: 2.5rem 0;
    /* border-radius: 10px; */
}

/* .discover-more-head {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
} */

.discover-more-head h2 {
    font-size: 3rem;
    margin: 3rem 0;
    display: inline-block;
}


.discover-more-body {
    background: url(images/ICW_Live_Event_Day5_41f11ca3d2.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr 1fr 1fr; */
    display: flex;
    flex-direction: column;
    padding: 2rem;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    
}

.discover-more-body .culture-btn {
    font-size: 1.3rem;
    background-color: white;
    color: #00754A;
    padding: 1px;
    width: 10rem;
    margin-bottom: 15rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.discover-more-body h2 {
    font-size: 2.5rem;
    color: white;
    /* margin-top:100px; */
    /* margin: 1rem 0; */
    margin: 2rem 0;
}

.discover-more-body .lm-btn {
    font-size: 1.3rem;
    background-color:white;
    color:black;
    padding: 1px;
    border: none;
    border-radius:15px;
    width:250px;
    margin: 3rem 0;
    /* margin-left: 1rem; */
    cursor: pointer;
    padding: 8px 32px;
}

.footer-container{
    background-color: #1e3932;
    color: white;
    padding: 2rem 0;
}

.footer-about {
    display: flex;
    flex-direction: column;
}

.footer-about-items {
    margin: 1rem 0;
    margin-left: 6rem;
}

.footer-about-items h3 {
    font-size: 2rem;
    font-weight: 400;
}

.footer-about-items ul {
    display: none;
    list-style: none;
    margin-top: 1.5rem;
}

.footer-media {
    padding-left: 6rem;
}

.footer-socialmedia h3 {
    font-size: 3rem;
    font-weight: 400;
}

.footer-socialmedia i {
    font-size: 3rem;
    margin: .5rem 0;
    ;
    margin-right: 1rem;
}

.footer-download {
    margin: 1.5rem 0;
    ;
    max-width: 194px;
}

.footer-legal {
    padding-top: 2rem;
    padding-left: 6rem;
    border-top: 1px solid #ccc;
}

.footer-legal ul {
    list-style: none;
    font-size: 2rem;
}

.footer-legal ul li {
    margin-bottom: 1rem;
    cursor: pointer;
}

@media (min-width:375px) {

    .container {
        max-width: 375px;
    }
}

@media (min-width:425px) {
    html {
        font-size: 50%;
    }

    .container {
        max-width: 425px;
    }
}

@media (min-width:768px) {
    html {
        font-size: 50%;
    }

    .container {
        max-width: 768px;
    }

    .menu-container-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        text-align: center;
    }

    /* .recommends-container  */
    .view-btn,
    .dm-btn {
        display: none;
    }

    .view-btn-l,
    .dml-btn {
        display: inline-block;
    }

    .recommends-item-box {
        max-width: 475px;
        margin-top: -0.5rem;
    }

    .img-1 button , .img-2 button, .img-3 button {
        font: 2rem;
        color: white;
        background-color: #00754A;
        padding: 8px 16px;
        border: none;
        border-radius: 20px;
        margin: auto 2rem 2.5rem;
        cursor: pointer;
        width: auto;
    }

    .footer-legal {
        padding-top: 2rem;
        padding-left: 6rem;
        border-top: 1px solid #ccc;
        display: flex;
    }

    .footer-legal ul {
        list-style: none;
        font-size: 1rem;
        display: flex;
    }

    .footer-legal ul li {
        margin-bottom: 1.5rem;
        cursor: pointer;
        padding: 0 1.5rem 0 0.5rem;
        border-right: 1px solid #ccc;
    }

    .footer-legal ul li:last-child {
        border-right: none;
    }

    .footer-legal p {
        margin-left: auto;
    }

}

@media (min-width:1024px) {
    html {
        font-size: 62.5%;
    }

    .container {
        max-width: 1024px;
    }

    .nav-links {
        position: static;
        overflow: visible;
        display: flex;
        align-items: center;
        flex-direction: row;
        background-color: transparent;
        margin-right: auto;
    }


    .nav-links a {
        margin: 0 3.5rem;
        font-size: 1.6rem;
        padding-bottom: 1.5rem;
    }

    .nav-links a:hover {
        border-bottom: 2px solid green;
    }

    .menu-toggle {
        display: none;
    }

    .nav-menu .nav-icons {
        display: inline-block;
    }

    .search-box {
        background: none;
        border: 1px solid black;
        border-radius: 30px;
        padding: 0.5rem 0.3rem;
        margin-right: 6rem;
        width: 25rem;
        position: relative;
    }

    .nav-menu .search-box input {
        border: none;
        outline: none;
        background-color: transparent;
        /* margin: auto 0; */
        font-size: 0.99rem;
        /* text-align: center; */
        position: absolute;
        top: 10px;
        width: 100%;

    }

    .nav-menu i {
        font-size: 2rem;
        margin: 0 0.5rem;

    }

    .nav-menu i:nth-child(2) {
        border: 1px solid black;
        border-radius: 50%;
        padding: 3px;
    }

    .menu-container-items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        text-align: center;
    }

    .footer-container {
        background-color: #1e3932;
        color: white;
        margin-top: 6rem;
    }

    .footer-about {
        display: flex;
        flex-direction: row;
        padding-top: 3rem;
    }

    .footer-about-items {
        margin: 0;
        flex-wrap: wrap;
        flex-basis: 30%;
    }

    .footer-about-items h3 {
        font-size: 2rem;
        font-weight: 400;
    }

    .footer-about-items ul {
        display: block;
    }

    .footer-about-items ul li {
        padding: 1.5rem 0;
    }

    .footer-media {
        padding-left: 0;
        display: flex;
        gap: 2rem;
    }

    .footer-socialmedia h3 {
        font-size: 3rem;
        font-weight: 400;
        margin: 1.5rem 0;
    }

    .footer-socialmedia i {
        font-size: 3rem;
        margin: .5rem 0;
        margin-right: 1rem;
    }

}

@media (min-width:1400px) {

    .container {
        max-width: 1250px;
    }
}